.about {
  margin-bottom: 57px;
}

.about__title {
  margin: 0 0 30px;
  color: $title-color;

  @include font-set(25px, 30px, 700);
}

.about__wrapper {
  @include wrapper-props();
}

@media (min-width: $tablet-width) {
  .about__title {
    margin: 0 0 47px -5px;

    @include font-set(43px, 50px, 700);
  }
}
