.about {
  margin-bottom: 30px;
}

.about__title {
  margin: 0;
  color: $title-color;

  @include font-set(25px, 30px, 700);
}

.about__wrapper {
  padding: 0 30px;
}

@media (min-width: $tablet-width) {
  .about__wrapper {
    padding: 0 50px;
  }
}
