.advantages-list {
  @include normalize-list();
}

.advantages-list__item {
  width: 100%;
  color: $black;

  @include font-set(17px, 20px, 700);
}

@media (min-width: $tablet-width) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages-list__item {
    width: 50%;
  }
}
