.advantages-list {
  display: flex;
  flex-direction: column;

  @include normalize-list();
}

.advantages-list__item {
  color: $black;

  @include font-set(17px, 20px, 700);
}

@media (min-width: $tablet-width) {
  .advantages-list {
    max-height: 120px; /* временно */
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages-list__item {
    width: 250px;
  }
}
