.advantages-list {
  @include normalize-list();
}

.advantages-list__item {
  width: 100%;
  padding-top: 57px;
  margin-bottom: 28px;
  color: $black;

  background-repeat: no-repeat;

  @include font-set(17px, 20px, 700);

  &--eco {
    padding-right: 80px;
    background-image: url("../img/icon-feature-flower.svg");
    background-size: 32px 37px;
    background-position: 7px 2px;
  }

  &--price {
    padding-right: 40px;
    background-image: url("../img/icon-feature-money.svg");
    background-size: 47px 27px;
    background-position: 0 3px;
  }

  &--like {
    padding-right: 60px;
    background-image: url("../img/icon-feature-heart.svg");
    background-size: 34px 27px;
    background-position: 7px 8px;
  }

  &--cute {
    padding-right: 40px;
    background-image: url("../img/icon-feature-ball.svg");
    background-size: 35px 34px;
    background-position: 3px 6px;
  }

  &--support {
    background-image: url("../img/icon-feature-rocket.svg");
    background-size: 55px 23px;
    background-position: -6px 6px;
  }

  &--gift {
    padding-right: 40px;
    background-image: url("../img/icon-feature-gift.svg");
    background-size: 33px 32px;
    background-position: 3px 4px;
  }
}

@media (min-width: $tablet-width) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages-list__item {
    width: 50%;
    max-width: 50%;
    margin-bottom: 54px;

    @include font-set(20px, 22px, 700);

    &--eco {
      order: 1;
      padding-right: 120px;
    }

    &--price {
      order: 3;
      padding-right: 80px;
    }

    &--like {
      padding-right: 100px;
      order: 5;
      margin-bottom: 27px;
    }

    &--cute {
      order: 2;
    }

    &--support {
      order: 4;
    }

    &--gift {
      order: 6;
      margin-bottom: 27px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages-list {
    justify-content: flex-start;
  }

  .advantages-list__item {
    width: 38%;
    margin-right: 18px;
  }
}
