.catalog {
  margin-bottom: 30px;
}

.catalog__list {
  @include wrapper-props();
  margin-bottom: 15px;

  @include normalize-list();
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
  }
}
