.catalog {
  margin-bottom: 30px;
}

.catalog__list {
  margin-bottom: 15px;
  list-style: none;

  @include wrapper-props();
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-bottom: 32px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }
}
