.categories {
  margin-bottom: 28px;
}

.categories__list {
  @include normalize-list();

  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.categories__item {
  position: relative;
  width: 100%;

  @include font-set(19px, 24px, 700);
}

.categories__link {
  display: block;
  padding: 27px 150px 30px 29px;
  color: $white;
  background-color: $secondary-color;

  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    right: 30px;

    opacity: 0.15;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    @include transition(background-color, 0.25s, $ease-out-quart);
  }

  &:hover:after,
  &:focus-within:after {
    opacity: 0.4;
  }

  &:active:after {
    opacity: 0.1;
  }
}

.categories__item--interior .categories__link::after {
  top: 23px;
  right: 36px;
  width: 40px;
  height: 62px;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
}

.categories__item--toys .categories__link::after {
  top: 21px;
  right: 27px;
  background-image: url("../img/icon-toy.svg");
}

.categories__item--interior .categories__link {
  &:hover,
  &:focus {
    background-color: #59d5bc;
  }

  &:active {
    background-color: #59d5bc;
    color: rgba(255, 255, 255, 0.3);
  }
}

.categories__item--toys .categories__link {
  background-color: $secondary-color--dark;

  &:hover,
  &:focus {
    background-color: #46c1ae;
  }

  &:active {
    background-color: #46c1ae;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .categories {
    position: relative;
    padding: 0 50px;
    margin-bottom: 48px;
    background-color: #f9f9f9;
  }

  .categories::after {
    content: "";
    display: block;
    width: 100%;
    height: 23px;
    position: absolute;
    left: 0;
    bottom: -14px;
    z-index: 30;

    @include zig-zag-fill-bottom;
  }

  .categories__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .categories__item {
    width: 50%;

    @include font-set(20px, 30px, 700);

    &:hover,
    &:focus {
      transform: translateY(-5px);

      @include transition(transform, 0.25s, $ease-out-quart);
    }

    &--interior::after {
      top: 29px;
    }

    &--toys::after {
      top: 32px;
      right: 35px;
    }
  }

  .categories__item:focus-within {
    transform: translateY(-5px);

    @include transition(transform, 0.25s, $ease-out-quart);
  }

  .categories__link {
    padding: 28px 55% 28px 35px;
  }

  .categories__item--toys .categories__link {
    padding: 28px 61% 28px 35px;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    margin-bottom: 120px;
  }

  .categories::after {
    height: 34px;
    background-size: auto 34px;
    background-position: -13px;
  }

  .categories__item--toys .categories__link {
    padding: 28px 61% 33px 35px;
  }

  .categories__link {
    padding: 28px 320px 33px 35px;
  }
}
