.categories {
  margin-bottom: 28px;
}

.categories__list {
  @include normalize-list();

  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.categories__item {
  position: relative;
  width: 100%;
  padding: 27px 150px 30px 29px;
  min-height: 103px; /* временно */
  background-color: $secondary-color;

  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    right: 30px;

    opacity: 0.15;
  }

  &--interior::after {
    top: 23px;
    right: 36px;
    width: 40px;
    height: 62px;
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
  }

  &--toys {
    background-color: $secondary-color--dark;
  }

  &--toys::after {
    top: 21px;
    right: 27px;
    background-image: url("../../img/icon-toy.svg");
  }

  @include font-set(19px, 24px, 700);
}

.categories__link {
  color: $white;
}

@media (min-width: $tablet-width) {
  .categories {
    position: relative;
    padding: 0 50px;
    margin-bottom: 48px;
    background-color: #f9f9f9;
  }

  .categories::after {
    content: "";
    display: block;
    width: 100%;
    height: 23px;
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: -14px;
    z-index: 30;

    @include zig-zag-fill-bottom;
  }

  .categories__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .categories__item {
    width: 50%;
    padding: 28px 170px 28px 35px;

    @include font-set(20px, 30px, 700);

    &--interior::after {
      top: 29px;
    }

    &--toys::after {
      top: 32px;
      right: 35px;
    }
  }
}

@media (min-width: $desktop-width) {
  .categories {
    margin-bottom: 120px;
  }

  .categories::after {
    height: 34px;
    background-size: auto 34px;
    background-position: -13px;
  }

  .categories__item {
    padding: 28px 320px 33px 35px
  }
}
