.categories {
  margin-bottom: 30px;
}

.categories__list {
  display: flex;
  flex-direction: column;

  @include normalize-list();
}

.categories__item {
  min-height: 103px; /* временно */
  background-color: $secondary-color;

  &--toys {
    background-color: $secondary-color--dark;
  }

  @include font-set(19px, 24px, 700);
}

.categories__link {
  color: $white;
}

@media (min-width: $tablet-width) {
  .categories__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .categories__item {
    width: 335px;
  }
}

@media (min-width: $desktop-width) {
  .categories__item {
    width: 525px;
  }
}
