.categories {
  margin-bottom: 30px;
}

.categories__list {
  @include normalize-list();
}

.categories__item {
  background-color: $secondary-color;

  &--toys {
    background-color: $secondary-color--dark;
  }

  @include font-set(19px, 24px, 700);
}

.categories__link {
  color: $white;
}
