.checkbox-list {
  @include normalize-list();
}

.checkbox-list__item {
  min-height: 40px;
  margin-bottom: 21px;
  display: flex;
}

.checkbox-list__input {
  position: absolute;
  appearance: none;

  &::-ms-check {
    display: none;
  }
}

.checkbox-list__label {
  position: relative;
  display: block;
  padding: 12px 0 0 62px;
  color: $title-color;

  @include font-set(17px, 18px, 700);
}

.checkbox-list__label::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 2px;
  left: 0;
  border: 1px solid $primary-color;
}

.checkbox-list__input:checked ~ .checkbox-list__label::after {
  content: "";
  display: block;
  width: 22px;
  height: 16px;
  position: absolute;
  top: 14px;
  left: 8px;
  background-image: url("../img/icon-tick.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.checkbox-list__input:hover ~ .checkbox-list__label::before,
.checkbox-list__input:focus ~ .checkbox-list__label::before {
  border: 1px solid $secondary-color;

  @include transition(border, 0.15s, $ease-out-quart);
}

.checkbox-list__input:active ~ .checkbox-list__label::before {
  border: 1px solid rgba($primary-color, 0.3);

  @include transition(border, 0.15s, $ease-out-quart);
}

@media (min-width: $tablet-width) {
  .checkbox-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  .checkbox-list__item {
    min-width: 200px;
    min-height: 53px;
    margin-bottom: 23px;
  }

  .checkbox-list__item:nth-child(2n+1) {
    margin-right: 63px;
  }

  .checkbox-list__label {
    padding-top: 18px;
    padding-left: 82px;

    @include font-set(19px, 18px, 700);
  }

  .checkbox-list__input:checked ~ .checkbox-list__label::after {
    width: 33px;
    height: 22px;
    top: 16px;
    left: 10px;
  }

  .checkbox-list__label::before {
    width: 54px;
    height: 51px;
    border: 2px solid $primary-color;
  }

  .checkbox-list__input:hover ~ .checkbox-list__label::before,
  .checkbox-list__input:focus ~ .checkbox-list__label::before {
    border: 2px solid $secondary-color;
  }

  .checkbox-list__input:active ~ .checkbox-list__label::before {
    border: 2px solid rgba($primary-color, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .checkbox-list {
    width: 750px;
  }

  .checkbox-list__item:nth-child(2n+1) {
    margin-right: 0;
  }

  .checkbox-list__item:not(:nth-child(3n)) {
    margin-right: 63px;
  }
}
