.leader {
  margin-bottom: 30px;
}

.leader__wrapper {
  position: relative;

  @include wrapper-props();
}

.leader__link {
  color: $black;
}

.leader__title {
  margin: 0;
  color: $title-color;

  @include font-set(25px, 30px, 700);
}

.leader__label {
  color: $secondary-color;
  text-transform: uppercase;

  @include font-set(17px, 20px, 700);
}

.leader__description {
  margin: 0;
  color: $primary-color;

  @include font-set(15px, 24px);
}

.leader__price {
  color: $primary-color;

  @include font-set(17px, 24px, 700);
}

.leader__btn {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .leader__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .leader__header {
    display: flex;
  }

  .leader__footer {
    display: flex;
    flex-direction: column;
  }

  .leader-info {
    display: flex;
    flex-direction: column;
  }


  .leader__photo {
    position: absolute;
    top: 0;
    right: 50px;
  }

  .leader__btn {
    width: 290px;
  }
}

@media (min-width: $desktop-width) {
  .leader__label {
    order: -1;
  }
}
