.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 1050px;
    margin: 0 auto;

    display: flex;
  }

  .main-nav__toggle {
    display: none;
  }
}
