.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  display: flex;
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
  }

  .main-nav__toggle {
    display: none;
  }
}
