.order-form__item {
  margin: 0 0 32px 0;
  padding: 0;
  border: none;

  &--type,
  &--color {
    margin-bottom: 15px;
  }

  &--additional {
    margin-bottom: 12px;
  }
}

.order-form__item--phone .order-form__title {
  margin-bottom: 15px;
}

.order-form__item--email .order-form__title {
  margin-bottom: 15px;
}

.order-form__field {
  position: relative;
  margin: 0;
}

.order-form__title {
  position: relative;
  margin: 0 0 25px 0;
  color: $secondary-color;
  text-transform: uppercase;

  @include font-set(17px, 16px, 700);
}

.order-form__title::after {
  content: "";
  display: block;
  width: 198px;
  height: 1px;
  position: absolute;
  right: 0;
  top: calc(50% - 1px);
  background-color: $secondary-color;
}

.order-form__input {
  color: $primary-color;

  &::placeholder {
    color: $placeholder-color;
  }

  @include font-set(20px, 17px);
}

.order-form__textarea {
  width: 260px;
  height: 142px;
  padding: 15px;
  resize: none;

  color: $primary-color;
  border: 2px solid $primary-color;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border: 2px solid $secondary-color;
  }

  &::placeholder {
    color: $placeholder-color;
  }

  @include font-set(17px, 18px);
}

.order-form__footnote {
  display: block;
  margin-bottom: 32px;
  color: $primary-color;

  @include font-set(14px, 16px);
}

.order-form__btn {
  width: 100%;
  padding: 16px 35px;
  color: $primary-color;

  @include font-set(17px, 16px, 700);
}

@media (min-width: $tablet-width) {
  .order {
    margin-bottom: 50px;
  }

  .order-form__item--type {
    margin-bottom: 25px;
  }

  .order-form__item--color {
    margin-bottom: 52px;
    padding-top: 51px;
    background-color: #f1f1f1;
  }

  .order-form__item--username {
    margin-bottom: 50px;
  }

  .order-form__item--color .order-form__title {
    margin-right: 124px;
  }

  .order-form__item--username .order-form__title,
  .order-form__item--phone .order-form__title,
  .order-form__item--email .order-form__title {
    margin-right: 100px;
  }

  .order-form__item--additional .order-form__title {
    margin-right: 102px;
  }

  .order-form__item--phone {
    margin: 0;
    padding-top: 52px;
    padding-bottom: 27px;
    background-color: #f1f1f1;
  }

  .order-form__item--email {
    margin-bottom: 50px;
    padding-bottom: 50px;
    background-color: #f1f1f1;
  }

  .order-form__field {
    width: 100%;
  }

  .order-form__wrapper {
    display: flex;
    align-items: flex-start;
  }

  .order-form__title {
    width: 90px;
    margin-bottom: 0;
    margin-right: 77px;
    padding-top: 17px;

    &::after {
      display: none;
    }
  }

  .order-form__textarea {
    width: 100%;

    &::placeholder {
      @include font-set(19px, 18px);
    }
  }

  .order-form__item--additional {
    margin-bottom: 52px;
  }

  .order-form__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .order-form__btn {
    width: 230px;
    padding: 17px 30px;
    order: -1;
  }

  .order-form__footnote {
    margin: 0;

    @include font-set(17px, 30px);
  }
}

@media (min-width: $desktop-width) {
  .order-form__field {
    width: 700px;
  }

  .order-form__title {
    margin-left: 60px;
    padding-top: 18px;
    margin-right: 25px;
  }

  .order-form__item--color .order-form__title {
    margin-right: 22px;
  }

  .order-form__item--username .order-form__title {
    margin: 0 26px 0 60px;
  }

  .order-form__item--phone .order-form__title,
  .order-form__item--email .order-form__title {
    margin: 0 25px 0 60px;
  }

  .order-form__item--additional {
    margin-bottom: 50px;
  }

  .order-form__item--additional .order-form__title {
    margin-right: 25px;
  }

  .order-form__footer {
    padding: 0 225px;
  }

  .order-form__textarea {
    width: 700px;
  }

  .order-form__footnote {
    padding-bottom: 6px;
  }

  .order-form__btn {
    padding: 17px 18px;
  }
}
