.order-form__item {
  margin: 0;
  padding: 0;
  border: none;
}

.order-form__title {
  @include font-set(17px, 16px, 700);
  color: $secondary-color;
  text-transform: uppercase;
}

.order-form__input {
  @include font-set(20px, 17px);
  color: $primary-color;

  &::placeholder {
    color: $placeholder-color;
  }
}

.order-form__textarea {
  width: 260px;
  height: 142px;
  resize: none;

  @include font-set(17px, 18px);
  color: $primary-color;
  border: 2px solid $primary-color;

  &::placeholder {
    color: $placeholder-color;
  }
}

.order-form__footnote {
  @include font-set(14px, 16px);
  color: $primary-color;
}

.order-form__btn {
  @include font-set(17px, 16px, 700);
  color: $primary-color;
}
