.page-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ececec;
}

.page-header__logo {
  display: block;
  width: 27%;
  height: 35px;
  margin: 0 auto 22px;
}

.page-header__logo:not(.page-header__logo--index) {
  @include link-interaction;
}

@media (min-width: $tablet-width) {
  .page-header {
    justify-content: flex-start;
    height: 90px;
    z-index: 2;
  }

  .page-header__logo {
    width: 112px;
    height: 46px;
    margin: 22px 0 0 0;
  }

  .page-header__logo img {
    width: 112px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    width: 149px;
    height: 72px;
    margin: 10px 15px 0;
    order: 2;
  }

  .page-header__logo img {
    width: 149px;
    height: 72px;
  }
}
