.page-footer {
  display: flex;
  position: relative;
  height: 50px;
  bottom: 0;
  background-color: $grey--light;
}

.page-footer__developer-label {
  color: $title-color;

  @include font-set(19px, 18px, 700);
}
