.page-description {
  margin: 0 0 27px 0;
  padding: 0 30px;
  color: $primary-color;

  @include font-set(13px, 24px);
}

@media (min-width: $tablet-width) {
  .page-description {
    padding: 0 50px;
    margin-bottom: 59px;

    @include font-set(17px, 30px);
  }
}
