.page-title {
  margin: 0;
  font-family: $font-primary;
  text-align: center;

  @include font-set(27px, 30px, 700);
}

@media (min-width: $tablet-width) {
  .page-title {
    margin-left: 16px;
    @include font-set(43px, 50px, 700);
  }
}
