.page-description {
  margin-bottom: 27px;
  color: $primary-color;

  @include font-set(13px, 24px);
}

@media (min-width: $tablet-width) {
  .page-description {
    margin-bottom: 59px;

    @include font-set(17px, 30px);
  }
}

@media (min-width: $desktop-width) {
  .page-description {
    padding: 0 225px;
    margin-bottom: 58px;
  }
}
