.page-footer {
  display: flex;
  min-height: 50px;
  background-color: $grey--light;
}

.page-footer__wrapper {
  @include wrapper-props();
}

.page-footer__developer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.page-footer__developer-label {
  color: $title-color;
  margin-right: 30px;

  @include font-set(19px, 18px, 700);
}

.page-footer__developer-logo {
  width: 27px;
  height: 34px;
  background-image: url("../../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}
