.page-footer {
  background-color: $grey--light;
}

.page-footer__logo {
  display: none;
}

.page-footer__logo:not(.page-footer__logo--index) {
  @include link-interaction;
}

.page-footer__developer {
  position: relative;
  display: block;
  padding: 17px 80px 17px 38px;
  margin-bottom: 25px;
  color: $title-color;

  @include font-set(19px, 18px, 700);

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    position: absolute;
    top: 10px;
    right: 39px;
    background-image: url("../img/logo-htmlacademy.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__inner {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
    width: 15%;
    margin: 0;
  }

  .page-footer__logo-image {
    width: 100%;
  }

  .page-footer__social {
    align-items: flex-start;
    padding: 0 0 0 80px;
  }

  .page-footer__developer {
    padding: 17px 58px 17px 0;

    &::after {
      right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo {
    width: 10%;
  }

  .page-footer__inner {
    padding-bottom: 30px;
  }

  .page-footer__developer {
    padding-top: 13px;

    &::after {
      top: 6px;
    }
  }
}
