.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
}

.product-card__link-title {
  color: $title-color;
}

.product-card__title {
  @include font-set(17px, 24px, 700);
}

.product-card__info {
  color: $primary-color;

  @include font-set(13px, 30px);
}

.product-card__price {
  color: $title-color;

  @include font-set(15px, 24px, 700);
}

@media (min-width: $tablet-width) {
  .product-card {
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    flex-direction: column;
  }
}
