.product-card {
  width: 100%;
  margin-bottom: 29px;
  border: 1px solid #ececec;
}

.product-card__link {
  width: 100%;
}

.product-card__link-title {
  display: block;
  margin-bottom: 7px;
  color: $title-color;
}

.product-card__image {
  width: 100%;
}

.product-card__title {
  margin: 0;

  @include font-set(17px, 24px, 700);
}

.product-card__info {
  margin: 0;
  padding-bottom: 19px;
  color: $primary-color;
  border-bottom: 1px solid #ececec;

  @include font-set(13px, 30px);
}

.product-card__details {
  width: 100%;
}

.product-card__header {
  padding: 21px 35px 0 27px;
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 22px 25px 28px 26px;
}

.product-card__price {
  color: $title-color;

  @include font-set(15px, 24px, 700);
}

.product-card__buy {
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .product-card {
    width: 100%;
    margin-bottom: 52px;
    display: flex;
  }

  .product-card:nth-child(3) .product-card__link-title {
    max-width: 215px;
  }

  .product-card__link {
    display: block;
    height: 334px;
    width: 50%;
  }

  .product-card__image {
    width: 100%;
    /* временно */
    min-height: 334px;
    /* временно */
  }

  .product-card__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 25px 30px 30px 26px;
  }

  .product-card__header {
    padding: 0;
  }

  .product-card__link-title {
    margin-bottom: 4px;
  }

  .product-card__title {
    @include font-set(20px, 24px, 700);
  }

  .product-card__info {
    padding: 0;
    border: 0;

    @include font-set(15px, 30px);
  }

  .product-card__footer {
    padding: 22px 3px 0 5px;
    border-top: 1px solid #ececec;
  }

  .product-card__price {
    @include font-set(17px, 24px, 700);
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 30.5%;
    margin-bottom: 25px;
    flex-direction: column;
  }

  .product-card__link {
    width: 100%;
    height: 462px; /* временно */
  }

  .product-card__image {
    height: 100%; /* временно */
  }

  .product-card__details {
    width: 100%;
    justify-content: space-between;
    flex-grow: 1;
    padding: 25px 30px 26px 26px;
  }

  .product-card__footer {
    justify-self: flex-end;
    padding-left: 0;
    margin-top: 15px;
  }

  .product-card:not(:nth-child(3n)) {
    margin-right: 50px;
  }
}
