.product-card {
  width: 260px;
  margin-bottom: 29px;
  border: 1px solid #ececec;
}

.product-card__link {
  width: 100%;
}

.product-card__link-title {
  display: block;
  margin-bottom: 7px;
  color: $title-color;
}

.product-card__title {
  margin: 0;

  @include font-set(17px, 24px, 700);
}

.product-card__info {
  margin: 0;
  padding-bottom: 19px;
  color: $primary-color;
  border-bottom: 1px solid #ececec;

  @include font-set(13px, 30px);
}

.product-card__details {
  width: 100%;
}

.product-card__header {
  padding: 21px 35px 0 27px;
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 22px 25px 28px 26px;
}

.product-card__price {
  color: $title-color;

  @include font-set(15px, 24px, 700);
}

.product-card__buy {
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .product-card {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
  }

  .product-card__link {
    width: 50%;
  }

  .product-card__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }

  .product-card__info {
    margin-bottom: 170px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 316px;
    margin-bottom: 25px;
    flex-direction: column;
  }

  .product-card__link {
    width: 100%;
  }

  .product-card__details {
    width: 100%;
  }

  .product-card:not(:nth-child(3n)) {
    margin-right: 50px;
  }
}
