.production {
  margin-bottom: 60px;
}

.production__inner {
  border: 1px solid #ececec;
}

.production__title {
  margin: 0;
  padding: 22px 40px 25px 89px;

  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 34px calc(50% - 3px);

  @include font-set(17px, 24px, 700);
}

.production__info {
  padding: 24px 33px 33px;
  color: $primary-color;

  @include font-set(13px, 24px);
}

.production__description {
  margin: 0 0 28px;
}

.production__btn {
  width: 100%;
  text-align: center;
  padding: 15px 23px 17px;
  color: $primary-color;

  @include font-set(17px, 16px, 700);
}

@media (min-width: $tablet-width) {
  .production__title {
    padding: 39px 40px 25px 105px;
    background-position: 41px calc(50% + 5px);

    @include font-set(20px, 24px, 700);
  }

  .production__video {
    width: 100%;
    order: -1;
  }

  .production__info {
    padding: 6px 39px 52px;
  }

  .production__description {
    margin-bottom: 35px;

    @include font-set(15px, 30px);
  }

  .production__inner {
    display: flex;
    flex-direction: column;
  }

  .production__btn {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .production__wrapper {
    position: relative;
    flex-direction: column;
    align-items: flex-end;
  }

  .production__video {
    position: absolute;
    left: 50px;
    top: 0;
    width: 682px;
  }

  .production__info {
    width: 250px;
    align-self: flex-end;
  }
}
