.product-card {
  width: 260px;
  margin-bottom: 15px;
  border: 1px solid #ececec;
}

.product-card__link {
  width: 50%;
}

.product-card__link-title {
  color: $title-color;
}

.product-card__title {
  @include font-set(17px, 24px, 700);
}

.product-card__info {
  color: $primary-color;

  @include font-set(13px, 30px);
}

.product-card__details {
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__price {
  color: $title-color;

  @include font-set(15px, 24px, 700);
}

.product-card__buy {
  width: 20px;
  height: 20px;
  background-image: url("http://placehold.it/20x20");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .product-card {
    width: 670px;
    margin-bottom: 25px;
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 316px;
    margin-bottom: 25px;
    flex-direction: column;
  }

  .product-card__link {
    width: 100%;
  }

  .product-card__details {
    width: 100%;
  }

  .product-card:not(:nth-child(3n)) {
    margin-right: 50px;
  }
}
