.promo {
  position: relative;
  padding: 69px 35px 77px 33px;
  background-color: $grey--light;

  &--image {
    padding: 70px 35px 125px;

    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -20px;
  }
}

.promo__wrapper {
  @include wrapper-props();
  padding: 0;
}

.promo__label {
  display: none;
  margin: 0 auto;
  text-align: right;
}

.promo:not(.promo--image) {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .promo {
    padding: 16px 0 92px;
  }

  .promo:not(.promo--image) {
    @include zig-zag-fill-bottom;
  }

  .promo:not(.promo--image) {
    margin-bottom: 68px;
  }

  .promo--image {
    padding: 16px 0 0;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center -2px;
    background-color: #f9f9f9;
  }

  .promo--image .promo__wrapper {
    padding-bottom: 377px;
  }

  .promo__label {
    display: block;
    padding-left: 60%;
    margin-bottom: 55px;
  }

  .promo--image .promo__label {
    margin-bottom: 110px;
  }
}

@media (min-width: $desktop-width) {
  .promo__label {
    margin: 0 0 0 auto;
    padding-left: 70%;
  }
}
