.reviews {
  margin-bottom: 45px;

  @include wrapper-props();
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.reviews__title {
  margin: 0;
  color: $title-color;

  @include font-set(25px, 30px, 700);
}

.reviews__btn {
  order: -1;
  color: $primary-color;

  @include font-set(18px, 20px, 700);
}

@media (min-width: $tablet-width) {
  .reviews__btn {
    align-self: flex-end;
  }
}
