.reviews {
  margin-bottom: 38px;
  padding-bottom: 50px;

  @include zig-zag-bottom;
}

.reviews__inner {
  position: relative;
}

.reviews__title {
  margin: 0 0 24px;
  color: $title-color;

  @include font-set(25px, 30px, 700);
}

.reviews__btn {
  width: 100%;
  text-align: center;
  padding: 15px 35px;
  order: -1;
  color: $primary-color;

  @include font-set(18px, 20px, 700);
}

@media (min-width: $tablet-width) {
  .reviews__inner {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .reviews__btn {
    align-self: flex-end;
  }
}
