.site-list {
  display: flex;
  flex-direction: column;

  @include normalize-list();
}

.site-list__item {
  @include font-set(17px, 24px, 700);
}

.site-list__link {
  color: $black;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
  }
}
