.site-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include normalize-list();
}

.site-list__item {
  padding: 27px 30px 28px 76px;
  border-bottom: 1px solid #ececec;

  @include font-set(17px, 24px, 700);
}

.site-list__item:first-child {
  border-top: 1px solid #ececec;
}

.site-list__item:nth-child(3),
.site-list__item:nth-child(4) {
  display: none;
}

.site-list__link {
  color: $black;
}

@media (min-width: $tablet-width) {
  .site-list {
    width: 100%;
    order: 2;
    flex-direction: row;
    flex-grow: 1;
  }

  .site-list__item {
    padding: 17px 0 0;
    border: none;

    @include font-set(15px, 24px, 700);
  }

  .site-list__item:not(:last-child) {
    margin-right: 36px;
  }

  .site-list__item:first-child {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 30%;
    order: 1;
  }

  .site-list__item {
    padding: 31px 35px 34px 0;
    border: none;

    @include font-set(17px, 24px, 700);

    &:nth-child(2n) {
      margin-right: 0;
    }

    &--additional {
      padding: 18px 35px 34px 0;

      @include font-set(15px, 24px, 700);
    }

    &--additional:not(:last-child) {
      margin-right: 25px;
    }
  }

  .site-list__item:nth-child(3),
  .site-list__item:nth-child(4) {
    display: block;
  }
}
