.slider__controls {
  display: flex;
  width: 100%;
  margin-bottom: 38px;
}

.slider__btn {
  width: 50%;
  height: 51px;
  border: 1px solid #ececec;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  &--left {
    background-image: url("../../img/icon-left-arrow.svg");
  }

  &--right {
    background-image: url("../../img/icon-right-arrow.svg");
  }
}


@media (min-width: $tablet-width) {
  .slider__controls {
    position: absolute;
    right: 32px;
    bottom: -5px;
    width: 25%;
  }

  .slider__btn {
    width: 45%;
    border: none;
  }
}
