.social-list {
  @include normalize-list();

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 23px auto 24px;
  width: 150px;
  border-bottom: 1px solid #e5e5e5;
}

.social-list__item {
  margin-bottom: 25px;
}

.social-list__item:not(:nth-child(3n)) {
  margin-right: 41px;
}

.social-list__link {
  display: block;
  width: 22px;
  height: 21px;

  &:focus {
    outline: none;
  }
}

.social-list__link:focus .social-list__icon {
  fill: $secondary-color--dark;

  @include transition(fill, 0.2s, $ease-out-quart);
}

.social-list__item--facebook .social-list__link {
  width: 15px;
  height: 28px;
}

.social-list__item--twitter .social-list__link {
  width: 23px;
  height: 20px;
}

.social-list__icon {
  width: 100%;

  &:hover {
    fill: $secondary-color--dark;

    @include transition(fill, 0.15s, $ease-out-quart);
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social-list {
    width: 235px;
    margin: 0 0 18px 0;
    padding: 10px 0 0 81px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .social-list {
    padding: 7px 0 20px 78px;
    margin: 0;
  }
}
