.social-list {
  @include normalize-list();

  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 0 0 25px 20px;
  border-bottom: 1px solid grey; /* временный цвет */
}

.social-list__item:not(:last-child) {
  margin-right: 41px;
}

.social-list__link {
  display: block;
  width: 22px;
  height: 21px;
  background-repeat: no-repeat;

  &--instagram {
    background-image: url("../img/icon-insta.svg");
  }

  &--facebook {
    background-image: url("../img/icon-fb.svg");
    width: 15px;
    height: 28px;
  }

  &--twitter {
    width: 23px;
    height: 20px;
    background-image: url("../img/icon-twitter.svg");
  }
}

@media (min-width: $tablet-width) {
  .social-list {
    margin: 0 0 20px 0;
    padding: 0 0 0 80px;
    border: none;
  }
}
