.user {
  margin-bottom: 30px;
}

.user__name {
  margin: 0 0 3px;
  color: $title-color;

  @include font-set(17px, 24px, 700);
}

.user__link {
  color: $primary-color;
  font-style: normal;

  @include font-set(17px, 30px);
}

@media (min-width: $tablet-width) {
  .user {
    display: block;
    width: 50%;
  }

  .user__name {
    margin-bottom: 5px;

    @include font-set(18px, 24px, 700);
  }

  .user__link {
    @include font-set(17px, 30px);
  }
}
