.user-list {
  display: flex;
  flex-direction: column;

  @include normalize-list();
}

.user-list__item {
  padding: 27px 30px 28px 76px;
  border-bottom: 1px solid #ececec;

  @include font-set(17px, 24px, 700);

  &--search,
  &--cart {
    position: relative;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 32px;
    left: 35px;

    background-repeat: no-repeat;
    opacity: 0.2;
  }

  &--search::before {
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-search.svg");
  }

  &--cart::before {
    top: 30px;
    left: 32px;
    width: 21px;
    height: 18px;
    background-image: url("../img/icon-cart.svg");
  }
}

.user-list__link {
  color: $black;
}

@media (min-width: $tablet-width) {
  .user-list {
    flex-direction: row;
    flex-grow: 1;
    width: 50%;
  }

  .user-list__item {
    padding: 30px 30px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    width: 400px;
    order: 3;
  }
}
