.user-list {
  display: flex;
  flex-direction: column;

  @include normalize-list();
}

.user-list__item {
  @include font-set(17px, 24px, 700);
}

.user-list__link {
  color: $black;
}

@media (min-width: $tablet-width) {
  .user-list {
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    width: 400px;
    order: 3;
  }
}
