.video {
  position: relative;
}

.video__preview {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.video__play {
  width: 101px;
  height: 77px;
  position: absolute;
  top: calc(50% - 41px);
  left: 0;
  right: 0;
  margin: 0 auto;

  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;

  &:hover,
  &:focus {
    outline: none;
    transform: scale(1.2);
    top: calc(50% - 40px);

    @include transition(transform, 0.15s, $ease-out-quart);
  }

  &:active {
    outline: none;
    opacity: 0.6;
    transform: scale(0.8);
    top: calc(50% - 40px);

    @include transition(transform, 0.15s, $ease-out-quart);
  }
}

@media (min-width: $tablet-width) {
  .video__preview {
    height: 453px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  .video__preview {
    height: 100%;
  }
}
