/* Общие стили */

@import "vendors/normalize";
@import "variables";
@import "mixins";
@import "fonts";
@import "base";
@import "blocks/btn";

/* Блоки */

@import "blocks/page-header";
@import "blocks/main-nav";
@import "blocks/promo";
@import "blocks/page-main";
@import "blocks/page-title";
@import "blocks/page-description";
@import "blocks/site-list";
@import "blocks/user-list";
@import "blocks/categories";
@import "blocks/leader";
@import "blocks/product-details";
@import "blocks/about";
@import "blocks/advantages-list";
@import "blocks/reviews";
@import "blocks/review";
@import "blocks/slider";
@import "blocks/contacts";
@import "blocks/page-footer";
@import "blocks/social-list";
@import "blocks/catalog";
@import "blocks/product-card";
@import "blocks/production";
@import "blocks/to-cart";
@import "blocks/order";
@import "blocks/order-form";
@import "blocks/radio-list";
@import "blocks/checkbox-list";
@import "blocks/field-list";
