/* Цветовые переменные */

$black: #000000;
$white: #ffffff;
$grey: #d3d2d2;
$grey--light: #f1f1f1;

$bg-color: $white;
$title-color: #000000;
$primary-color: #444444;
$secondary-color: #63d1bb;
$secondary-color--dark: #56c3b2;

/* Шрифтовые переменные */

$font-primary: "OpenSans", Arial, sans-serif;
$font-size: 15px;

/* Вьюпорты */

$mobile-width: 320px;
